<!-- "users new" -->
<h2>Sign Up</h2>
<form class="" action="<%= users_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
  <input id="username" type="text" name="user[username]" value="" placeholder="Username">
  <input id="username" type="text" name="user[email]" value="" placeholder="Email">
  <input id = "password" type="password" name="user[password]" value="" placeholder="Password">
  <label for="user_type">I am an: </label>
  <select name="user[user_type]">
    <option selected value="applicant">Applicant</option>
    <option value="employer">Employer</option>
  </select>
  <input type="submit" name="" value="Sign Up">
</form>
